<div class="container">
    <div class="row">
        <h3>Tracked Task Table</h3>
        @*<button type="submit" class="btn btn-primary mb-3" onclick="@LoadTrackedTasks">Reload tasks</button>*@
        <p>
            @ExceptionMessage
        </p>
    </div>

    @foreach (var trackedTaskPair in trackedTasksDictionary)
    {
        var time = new TimeSpan();

        <div class="row mt-3">
            <div class="card" style="padding-right: 0px;padding-left: 0px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h5 style="text-align: start">@trackedTaskPair.Key</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="text-muted" style="text-align: end">Total time: @time.ToString(@"hh\:mm\:ss")</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        @foreach (var trackedTask in trackedTaskPair.Value)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">@trackedTask.Name</div>
                                    <div class="col-4">@trackedTask.Project?.Name</div>
                                    <div class="col-4" style="text-align: end">@trackedTask.Duration.ToString(@"hh\:mm\:ss")</div>
                                </div>
                            </li>
                            time += trackedTask.Duration;
                        }
                    </ul>
                </div>
                <div class="card-footer text-muted">
                    Total time: @time.ToString(@"hh\:mm\:ss")
                </div>
            </div>
        </div>
    }

</div>
