@page "/projectmanager"
@attribute [Authorize]

@using Timinute.Client.Models

<PageTitle>Manage Projects</PageTitle>

<h3>Manage Projects</h3>

<div class="container">

    <AddProject OnAddProject="@HandleProjectAdded" />

    <h3 class="p-3 text-center">Display a list of projects</h3>

    <RadzenDataGrid @ref="radzenDataGrid" Data="@ProjectsList" TItem="Project" Count="@projectCount"
                    IsLoading="@isLoading" LoadData="@LoadData" AllowSorting="true"
                    AllowMultiColumnSorting="true">
        <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No projects to display.</p>
        </EmptyTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="Project" Property="ProjectId" Title="Project ID" />
            <RadzenDataGridColumn TItem="Project" Property="Name" Title="Project Name" />
            <RadzenDataGridColumn TItem="Project" Property="CompanyId" Title="Company ID" />
        </Columns>
    </RadzenDataGrid>

</div>