@attribute [Authorize]

<h2>Dashboard</h2>

<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <h5 class="card-header">Amount of work time last month</h5>
            <div class="card-body">
                <h2 class="text-center">@AmountWorkTimeLastMonth</h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <h5 class="card-header">Top project</h5>
            <div class="card-body">
                <h2 class="text-center">@TopProjectLastMonth</h2>
            </div>
        </div>
    </div>
@*    <div class="col-12 col-lg-4 mb-3">
        <div class="card">
            <h5 class="card-header">Amount of work time per project</h5>
            <div class="card-body">
            </div>
        </div>
    </div>*@
</div>

<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <h5 class="card-header">Amount of work time per month</h5>
            <div class="card-body">
                <ProjectColumnChart />
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <h5 class="card-header">Amount of work time per project</h5>
            <div class="card-body">
                <DoughnutChart />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>Claims</h3>
    <table class="table table-sm">
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Issuer</td>
                <td>@claim.ValueType</td>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>
</div>
