@page "/trackedtasks"
@attribute [Authorize]

@using Timinute.Client.Components.TrackedTasks
@using Timinute.Client.Models

<PageTitle>Tracked Tasks</PageTitle>


<div class="container">

    <div class="d-flex justify-content-center">
        <AddTrackedTask OnTrackedTaskAdded="@HandleTrackedTaskAdded" />
    </div>

    <h3 class="p-3 text-center">Display a list of tracked tasks</h3>
    <RadzenDataGrid @ref="radzenDataGrid" Data="@trackedTasksList" TItem="TrackedTask" Count="@totalCount"
                    IsLoading="@isLoading" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true"
                    AllowPaging="true" PageSizeOptions="@pageSizes" ShowPagingSummary="true" PageSize="@pageSize" PagerHorizontalAlign="HorizontalAlign.Center">
        <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No tracked tasks to display.</p>
        </EmptyTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="TrackedTask" Property="TaskId" Title="Task ID" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="Name" Title="Name" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="Project.Name" Title="Project Name" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="Duration" Title="Duration" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="StartDate" Title="Start date" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="EndDate" Title="End date" />
        </Columns>
    </RadzenDataGrid>

</div>
