@page "/trackedtasks"
@attribute [Authorize]

@using Timinute.Client.Components.TrackedTasks
@using Timinute.Client.Models

<PageTitle>Tracked Tasks</PageTitle>


<div class="container">

    <div class="d-flex justify-content-center">
        <AddTrackedTask OnTrackedTaskAdded="@HandleTrackedTaskAdded" />
    </div>

    <h3 class="p-3 text-center">Display a list of tracked tasks</h3>
    <RadzenDataGrid @ref="radzenDataGrid" Data="@TrackedTasksList" TItem="TrackedTask" Count="@tasksCount"
                    IsLoading="@isLoading" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true"
                    AllowMultiColumnSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="TrackedTask" Property="TaskId" Title="Task ID" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="Name" Title="Name" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="Duration" Title="Duration" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="StartDate" Title="Start date" />
            <RadzenDataGridColumn TItem="TrackedTask" Property="EndDate" Title="End date" />
        </Columns>
    </RadzenDataGrid>

</div>
